body {
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005a91;
}
#address-form{
    width: 50%;
}
#form-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
